.nav-wrapper{
    background-color: lightgray; 
    min-height: 2em; 
    margin-bottom: 0.5em;
    padding: 0.7em;
    border-bottom: 1px solid darkgray;
    }
    
    .brand{
        font-weight: 500; 
        color:slategrey;
        font-size: 1.45em;
    }